<section class="nav">
  {{#ifpage 'digital-migration'}}
  {{#with nav.nav-button}}
  <a href="http://www.sandromacchioli.com/home.html" class="button {{nav-button-digital}}">
  {{/with}}
  {{/ifpage}}
  {{#ifpage 'customer-activation'}}
  {{#with nav.nav-button}}
  <a href="http://www.sandromacchioli.com/home.html" class="button {{nav-button-customer}}">
  {{/with}}
  {{/ifpage}}
  {{#ifpage 'digiwise'}}
  {{#with nav.nav-button}}
  <a href="http://www.sandromacchioli.com/home.html" class="button {{nav-button-digiwise}}">
  {{/with}}
  {{/ifpage}}
  {{#ifpage 'quantSelf'}}
  {{#with nav.nav-button}}
  <a href="http://www.sandromacchioli.com/home.html" class="button {{nav-button-quantSelf}}">
  {{/with}}
  {{/ifpage}}
  {{#ifpage 'wasps'}}
  {{#with nav.nav-button}}
  <a href="http://www.sandromacchioli.com/home.html" class="button {{nav-button-wasps}}">
  {{/with}}
  {{/ifpage}}
  {{#ifpage 'hellojob'}}
  {{#with nav.nav-button}}
  <a href="http://www.sandromacchioli.com/home.html" class="button {{nav-button-hellojob}}">
  {{/with}}
  {{/ifpage}}
    <div class="row">
      <div class="columns align-self-middle icon">
        <svg width="19px" height="12px" viewBox="1091 948 19 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Group-19" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1092.000000, 949.000000)" stroke-linecap="round">
            <polyline id="Path-3" stroke="#FFFFFF" stroke-width="1.5" stroke-linejoin="round" points="6 0 0 4 6 8"></polyline>
            <path d="M0,4 L13,4 C13,4 17,4 17,7 C17,10 13,10 13,10 L9,10" id="Path-4" stroke="#FFFFFF" stroke-width="1.5"></path>
          </g>
        </svg>
        </div>
        <div class="columns back">
        <h5>Back</h5>
        </div>
      </div>
    </a>
</section>
