<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  INTRO -->
{{#ifpage 'digiwise'}}
  {{#with intro.parallax}}
  <section class="parallax noPad" id="{{digiwise}}"></section>
  {{/with}}
{{/ifpage}}
{{#ifpage 'digital-migration'}}
  {{#with intro.parallax}}
  <section class="parallax noPad" id="{{digital-migration}}"></section>
  {{/with}}
{{/ifpage}}
{{#ifpage 'customer-activation'}}
  {{#with intro.parallax}}
  <section class="parallax noPad" id="{{customer-activation}}"></section>
  {{/with}}
{{/ifpage}}
{{#ifpage 'quantSelf'}}
  {{#with intro.parallax}}
  <section class="parallax noPad" id="{{quantSelf}}"></section>
  {{/with}}
{{/ifpage}}
{{#ifpage 'wasps'}}
  {{#with intro.parallax}}
  <section class="parallax noPad" id="{{wasps}}"></section>
  {{/with}}
{{/ifpage}}
{{#ifpage 'googleTask'}}
  {{#with intro.parallax}}
  <section class="parallax noPad" id="{{google}}"></section>
  {{/with}}
{{/ifpage}}
<section>
  {{#ifpage 'digiwise'}}
    {{#with intro.digiwise}}
      <div class="row align-center intro-box" id="{{colour}}">
        <div class="columns small-12 large-8" >
          <h1>
            {{title}}
          </h1>
          <p>
            {{{body}}}
          </p>
        </div>
      {{/with}}
  {{/ifpage}}
  {{#ifpage 'digital-migration'}}
    {{#with intro.digital-migration}}
    <div class="row intro-box" id="{{colour}}">
      <div class="columns small-12 large-8">
        <h1>
          {{title}}
        </h1>
        <p>
          {{{body}}}
        </p>
      </div>
    {{/with}}
  {{/ifpage}}
  {{#ifpage 'customer-activation'}}
    {{#with intro.customer-activation}}
    <div class="row align-center intro-box" id="{{colour}}">
      <div class="columns small-12 large-8">
        <h1>
          {{title}}
        </h1>
        <p>
          {{{body}}}
        </p>
      </div>
      {{/with}}
  {{/ifpage}}
  {{#ifpage 'quantSelf'}}
    {{#with intro.quantSelf}}
    <div class="row align-center intro-box" id="{{colour}}">
      <div class="columns small-12 large-8">
        <h1>
          {{title}}
        </h1>
        <p>
          {{{body}}}
        </p>
      </div>
      {{/with}}
  {{/ifpage}}
  {{#ifpage 'wasps'}}
    {{#with intro.wasps}}
    <div class="row align-center intro-box" id="{{colour}}">
      <div class="columns small-12 large-8">
        <h1>
          {{title}}
        </h1>
        <p>
          {{{body}}}
        </p>
      </div>
      {{/with}}
  {{/ifpage}}
  {{#ifpage 'googleTask'}}
    {{#with intro.google}}
    <div class="row align-center intro-box" id="{{colour}}" style="background-color:#01A854;">
      <div class="columns small-12 large-8">
        <h1>
          {{title}}
        </h1>
        <p>
          {{{body}}}
        </p>
      </div>
      {{/with}}
  {{/ifpage}}
    <div class="columns small-12 medium-expand large-offset-2 align-middle">
      <div class="row">
        <div class="columns small-4 large-12 role">
          <h5>My role</h5>
          {{#ifpage 'digiwise'}}
            {{#with intro.digiwiseRole}}
            <h4>{{{role}}}</h4>
            {{/with }}
          {{/ifpage}}
          {{#ifpage 'digital-migration'}}
            {{#with intro.digitalRole}}
            <h4>{{{role}}}</h4>
            {{/with }}
          {{/ifpage}}
          {{#ifpage 'customer-activation'}}
            {{#with intro.customerRole}}
            <h4>{{{role}}}</h4>
            {{/with }}
          {{/ifpage}}
          {{#ifpage 'quantSelf'}}
            {{#with intro.quantSelfRole}}
            <h4>{{{role}}}</h4>
            {{/with }}
          {{/ifpage}}
          {{#ifpage 'wasps'}}
            {{#with intro.waspsRole}}
            <h4>{{{role}}}</h4>
            {{/with }}
          {{/ifpage}}
          {{#ifpage 'googleTask'}}
            {{#with intro.googleRole}}
            <h4>{{{role}}}</h4>
            {{/with }}
          {{/ifpage}}
        </div>
        <div class="columns small-4 large-12 role">
          <h5>Type of project</h5>
          {{#ifpage 'digital-migration'}}
          {{#with intro.typeOfProject}}
          <h4>{{typeOfProject-digital}}</h4>
          {{/with}}
          {{/ifpage}}
          {{#ifpage 'customer-activation'}}
          {{#with intro.typeOfProject}}
          <h4>{{typeOfProject-customer}}</h4>
          {{/with}}
          {{/ifpage}}
          {{#ifpage 'digiwise'}}
          {{#with intro.typeOfProject}}
          <h4>{{typeOfProject-digiwise}}</h4>
          {{/with}}
          {{/ifpage}}
          {{#ifpage 'quantSelf'}}
          {{#with intro.typeOfProject}}
          <h4>{{typeOfProject-quantSelf}}</h4>
          {{/with}}
          {{/ifpage}}
          {{#ifpage 'wasps'}}
          {{#with intro.typeOfProject}}
          <h4>{{typeOfProject-wasps}}</h4>
          {{/with}}
          {{/ifpage}}
          {{#ifpage 'googleTask'}}
          {{#with intro.typeOfProject}}
          <h4>{{typeOfProject-google}}</h4>
          {{/with}}
          {{/ifpage}}
        </div>
      </div>
    </div>
  </div>
</section>
